body {
    margin: 0;
    padding: 0;
    font-family: 'lato', sans-serif;
    background: #cccdce;
}

/* generic  */



a {
    text-decoration: none;

}

nav {
    display: block;
}

.white {
    color: #fff;
}

.sidebar-small {
    display: none;
}

.sidebar-mobile {
    display: none;
}

.avatar-small {
    display: none;
}

.g-h-s-title {
    position: relative;
    margin: 5% 4%;
}

.g-h-s-title-one {
    position: relative;
    margin: 5% 0 5% 4%;
}

.g-h-s-title, .g-h-s-title-one h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.g-h-s-title, .g-h-s-title-one h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

.seccond-header {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: none;
}
/* end of generic */

/* sidebar */

.sidebar {
    top: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    width: 25%;
    font-size: 14px;
    color: #fff;
    text-align: left;
    background-color: rgba(0, 125, 155,.8);
}

.sidebar-inner {
    position: relative;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 45px 40px;
}

.my-avatar-wrapped{
    text-align: center;
    color: #fff;
    display: block;
}

.my-avatar {
    border-radius: 50%;
    margin-bottom: 10px
}

.avatar {
    width: 152px;
    height: 152px;
    border-radius: 50%;
}

.my-content {
    margin-left: -40px;
    margin-right: -40px;
}

.my-title {
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.my-subtitle {
    margin-top: 0;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2.5px;
}

.main-navigation {
    margin: 45px -40px;
    line-height: 30px;
    position: relative;
    font-size: 14px;
}

.navigation-wrapped ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-wrapped ul>li {
    display: block;
}

.navigation-wrapped ul li {
    position: relative;
    padding: 0 40px;   
}

.navigation-wrapped ul li a {
    color: rgba(255,255,255,.6);
    display: block;   
    font-size: 1rem;
}

.navigation-wrapped ul li a:hover {
    color: #fff;
    transition: all .5s;
}

.social-block {
    font-size: 30px;
    margin-top: 45px;
}

.social-title {
    font-size: 18px;
    font-weight: 300;
    color: rgba(255,255,255,.5);
    margin-bottom: 15px;
    text-transform: uppercase;
}

.social-content {
    display: block;
}

.social-content a {
    color: rgba(255,255,255,.6);
    transition: all .5s;
}

.social-content a:hover {
    color: #fff;
}

/* end of sidebar */

/* home page content */

.site-is-wrapped {
    margin-left: 25%;
}

.site-is-wrapped::before {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    content: " ";
    display: block;
    width: 25%;
    background: url(../images/bg.jpg) top center no-repeat #bababa;
    background-size: cover;
}

.site-inner {
    position: relative;
}

.recent-wrapped {
    padding: 0 4% 4% 4%;
    overflow: hidden;
}

.recent-image img{
    width: 100%;
}


.g-h-s-title-one i {
    color: #000;
}

.g-h-s-title-one a {
    color: #000;
}

.gallery-header {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 400;
}

.recent-image-gallery {
    clear: both;
    line-height: 40px;
    column-count: 5;
}

.recent-image-gallery > img {
    width: 100%;
    height: auto;
}


/* end of home-page */

/* start of portfolio */
.portfolio-grid {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: auto auto auto auto;
    padding: 20px 0;
    margin: 0 4%;
}

.work-card {
    background: green;
    height: 15rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.work-card img {
    width: 100%;
    position: relative;
    transition: all 2.5s;
    opacity: 100%;
}

.work-card img:hover {
    opacity: o;
}



.work-card-content {
    padding: 2%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .5s;
    width: 26.9%;
    height: 16%;
    background: #cccdce;
    cursor: pointer;
    z-index: 10;
}

.work-card-content h1 {
    font-size: 2rem;
    text-align: center;
}

.work-card-content a {
    color: #000;
    font-size: 1.4rem;
    padding: 5% 10%;
    border-radius: 25px;
    border: 1px solid black;
}

.status {
    display: flex;
    flex-direction: row;
}

.status h3 {
    padding-right: 5px;

}

.active {
    color: green;
    text-transform: uppercase;
}

.in-progress {
    color: #b77a00;
    text-transform: uppercase;
}

.in-active {
    color: red;
    text-transform: uppercase;
}


.work-card-content:hover {
    opacity: 100%;
}

/* card id */
#leigh-fest {
    background: #2dabe3;
}

#mozz {
    background: #1f1e20;
}

#ar, #brain, #club {
    background: #000;
}

#ava {
    background: #353535;
}

#love_maths {
    background: #b2b2b2;
}

#lloyds {
    background: #186c30;
}

#customasks {
    background: #fff;
}

#nhs {
    background: #2a5ca7;
}

/* end of portfolio */


/* start of contact */
.contact-wrapped {
    margin: 0 4%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
}

.contact-wrapped a {
    color: #353535;
    transition: all .5s;
}

.contact-wrapped a i {
    font-size: 8rem;
    border-radius: 15px;
    overflow: hidden;
}

.contact-wrapped a:hover {
    color: #000;
}


/* end of contact */

/* start of cv */
.sidebar-cv {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    position: relative;
    width: auto;
    z-index: 2;
    height: fit-content;
    font-size: 14px;
    color: #fff;
    text-align: left;
    background-color: rgba(0, 125, 155,.8);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
}

.sidebar-inner-cv {
    overflow: initial;
    height: auto;
    padding: 0 40px;
    width: 100%;
}

.cv-navigation {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: right;
    margin: 0 -40px;
    position: relative;
}

.cv-navigation a:focus, .cv-navigation a:hover {
    color: #fff;
    width: 100%;
}

.sidebar-extendable-cv {
    font-size: 18px;
    border: 1px solid rgba(255,255,255,.2);
    border-width: 1px 0;
    padding: 0 20px;
    display: block;
}

.navigation-extended-cv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-block-cv {
    display: flex;
    margin: 5px 15px 0 15px;
    font-size: 18px;
    width: 50%;
    justify-content: flex-start;
}

.social-title-cv {
    display: none;
}

.navigation-extended-cv a {
    display: inline-block;
}

.social-content-cv {
    display: flex;
}

.social-content-cv a {
    padding: 0 5px 0 0;
    color: rgba(255,255,255,.6);
    transition: all .5s;
}

.social-content-cv a:hover {
    color: #fff;
}

.social-content-cv a i {
    font-size: 1.5rem;
}

.navigation-button-cv {
    color: rgba(255,255,255,.6);
    display: block;
    font-size: 1rem;
    margin-right: 15px;
}

.extend-nav-cv {
    height: 0;
    -webkit-transition: height .5s;
    transition: height .5s;
    display: none;
}

.cv-nav-show {
    height: 300px !important;
    display: block !important;
    -webkit-transition: height .5s;
    transition: height .5s;
}

.navigation-wrapped-cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 50px;
}

.navigation-wrapped-cv ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.cv-navigation ul li {
    padding: 0 20px;
    position: relative;
}

.navigation-wrapped-cv ul li a {
    font-size: 1.5rem;
    padding-bottom: 10px;
    color: rgba(255,255,255,.6);
    display: block;

}

/* start of cv page */
.cv-is-wrapped {
    margin: 0;
}

.cv-is-wrapped::before {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: auto;
    content: " ";
    display: block;
    background: url(../images/bg.jpg) top center no-repeat #bababa;
    background-size: cover;
}

.cv-header {
    background: #2a2a36;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cv-header-wrapped {
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
}

.cv-header-wrapped  h1 {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 10px;
}

.cv-header-wrapped  h2 {
    color: #cccdce;
    font-size: 1.5rem;
    font-weight: 300;
}

.cv-image-wrapped {
    padding: 2% 4%;
}

.cv-image-wrapped img{
    width: 100%;
    border-radius: 50%;
}

.cv-page {
    display: flex;
    flex-direction: row;
}
/* cv content */
.cv-content {
    width: 70%;
    background: #cccdce;
    height: fit-content;
    z-index: 1;
    position: relative;
    top: 0;
}

.cv-content a {
    color: #000;
    text-decoration: underline;
}

.cv-content hr {
    border-color: #2a2a36;
}

.content-wrapper {
    padding: 5% 4%;
}

.experience-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dates {
    width: 20%;

}

.experience {
    width: 75%;
}
/* cv details wrapped */
.cv-details-content {
    width: 30%;
    background: #a5a5a5;
    height: fit-content;
    z-index: 1;
    position: relative;
    top: 0;
}

.cv-details-content a {
    color: #000;
}

.cv-details-content hr {
    border-color: #2a2a36;
}

.cv-title {
    font-size: 1.5rem;
}

/* end of cv */

/* work pages */
.work-wrapped {
    padding: 0 5%;
}

.work-wrapped img {
    width: 95%;
}

.work-wrapped a {
    color: #000;
    text-decoration: underline;
}


.work-images-wrapped {
    clear: both;
    line-height: 40px;
    column-count: 2;
    grid-gap: 1%;
    /* flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center; */
}

.single-work-img {
    column-count: 1 !important;
}

.work-images-wrapped img {
    width: 100%;
    padding-bottom: 5%;
}

.work-images-wrapped p {
    font-size: 0.85rem;
}

.work-images-wrapped p b {
    text-transform: capitalize;
    font-size: 1rem;
}
/* end of work pages */


/* Responsiveness */
@media (max-width: 1000px) {
    /* sidebar */
    .sidebar {
        padding-top: 0;
        width: 100%;
        height: fit-content;
        position: relative;
    }

    .sidebar-inner {
        overflow: initial;
        height: auto;
        padding: 10px 40px;
    }

    .main-navigation {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 50px;
        margin: -10px -40px;
    }

    .navigation-wrapped {
        display: block;
    }

    .navigation-wrapped ul {
        display: flex;
        justify-content: center;
    }

    .social-title {
        display: none;
    }

    .social-block {
        display: flex;
        justify-content: center;
        margin: 15px;
    }

    /* Home page */

    .g-h-s-title-one {
        text-align: center;
    }

    /* portfolio */

    .site-is-wrapped {
        margin: 0;
    }

    .site-is-wrapped::before {
        width: 100%;
    }

    .site-inner {
        background: #cccdce;
        width: 100%;
        position: absolute;
    }

    /* contact */
    .contact-wrapped {
        margin: 0 4% 8% 4%;
    }


}

@media (max-width: 900px) {
    /* sidebar */
    .social-block {
        margin: 5px 15px 0 15px;
    }

    /* homepage */
    .home-section-inner {
        margin-top: 40%;
    }

    .home-heading {
        font-size: 2rem;
    }

    .home-subheading {
        font-size: 1.5rem;
    }

    .g-h-s-title-one h1 {
        font-size: 2rem;
    }

    .g-h-s-title-one h2 {
        font-size: 1.25rem;
    }
    
}

@media (max-width: 800px) {
    /* homepage */
    .home-section-inner {
        margin-top: 45%;
    }

    /* portfolio */
    .g-h-s-title h1 {
        font-size: 2rem;
    }

    .g-h-s-title h2 {
        font-size: 1.25rem;
    }

    /* cv */
    .cv-title {
        font-size: 1.25rem;
    }

    .content-wrapper p {
        font-size: 0.75rem;
    }

    .content-wrapper b {
        font-size: 0.8rem;
    }

    .cv-subtitle {
        font-size: 1rem;
    }
    
}

@media (max-width: 700px) {
    /* homepage */
    .home-section-inner {
        margin-top: 50%;
    }

    /* cv */
    .cv-header-wrapped h1 {
        font-size: 2rem;
    }
    
    .cv-header-wrapped h2 {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    /* sidebar */
    .sidebar {
        display: none;
    }

    .sidebar-small {
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: fit-content;
        font-size: 14px;
        color: #fff;
        text-align: left;
        background-color: rgba(0, 125, 155,.8);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline; 
        position: relative;   
    }

    .main-navigation {
        margin: -10px 0;
    }

    .navigation-wrapped ul li {
        padding: 0 20px;
    }

    /* homepage */
    .recent-image-gallery {
        column-count: 4;
    }

    .avatar-small {
        display: block;
    }

    /* portfolio */
    .g-h-s-title h1 {
        font-size: 1.8rem;
    }
    
    .portfolio-grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }    
    
    .work-card-content {
        width: 42%;
        height: 15%;
    }

    /* contact */
    .contact-wrapped a i {
        font-size: 6rem;
    }

    /* cv */
    .cv-page {
        flex-direction: column;
    }

    .cv-details-content {
        width: 100%;
    }

    .cv-content {
        width: 100%;
    }

}

@media (max-width: 500px) {
    /* side bar */
    .sidebar-mobile {
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        position: relative;
        width: auto;
        z-index: 2;
        height: fit-content;
        font-size: 14px;
        color: #fff;
        text-align: left;
        background-color: rgba(0, 125, 155,.8);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: baseline; 
    }

    .sidebar-inner {
        overflow: initial;
        height: auto;
        padding: 0 40px;
        width: 100%;
    }

    .sidebar-small {
        display: none;
    }

    .social-block {
        font-size: 18px;
        width: 50%;
        justify-content: flex-start;
    }    
    .social-content {
        display: flex;
    }
    
    .social-content a {
        padding: 0 5px 0 0;
    }

    .navigation-button {
        color: rgba(255,255,255,.6);
        display: block;
        font-size: 1rem;
        margin-right: 15px;
    }

    .main-navigation a:focus, .main-navigation a:hover {
        color: #fff;
        width: 100%;
    }

    .navigation-wrapped ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 50px;        
    }

    .main-navigation {
        font-size: 14px;
        text-transform: uppercase;
        line-height: 50px;
        text-align: right;
        margin: 0 -40px;
    }


    .sidebar-extendable {
        font-size: 18px;
        border: 1px solid rgba(255,255,255,.2);
        border-width: 1px 0;
        padding: 0 20px;
        display: block;
    }

    .navigation-extended a {
        display: inline-block;
    }

    .navigation-extended {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .extend-nav {
        height: 0;
        -webkit-transition: height .5s;
        transition: height .5s;
        display: none;
    }

    .main-navigation ul li {
        padding: 0 20px;
    }

    .show-nav {
        height: 300px;
        display: block;
        -webkit-transition: height .5s;
        transition: height .5s;
    }

    .navigation-wrapped ul li a {
        font-size: 1.5rem;
        padding-bottom: 10px;
    }

    /* home */
    .recent-image-gallery {
        column-count: 3;
    }

    

    /* cv */
    .cv-header-wrapped h1 {
        font-size: 1.5rem;
    }

    .cv-header-wrapped h2 {
        font-size: 0.75rem;
        margin-top: 0;
    }

    .cv-image-wrapped {
        width: 17%;
    }

    .social-content-cv a {
        padding: 0 3px 0 0;
    }

    .social-content-cv a i {
        font-size: 1.25rem;
    }

}

@media (max-width: 400px) {

    /* home section */
    .recent-image-gallery {
        column-count: 2;
    }

    .g-h-s-title-one h1 {
        font-size: 1.75rem;
        margin-top: 3rem;
    }

    .g-h-s-title-one h2 {
        font-size: 1.1rem;
        margin-bottom: 2rem;
    }

    .recent-image {
        margin-bottom: 2rem;
    }

    .gallery-header {
        font-size: 1.5rem;
        font-weight: 600;
    }

    /* portfolio */
    .portfolio-grid {
        grid-template-columns: 100%;
    }

    .work-card-content {
        width: 90%;
        height: 8.5%;
    }

    /* contact */
    .contact-wrapped a i {
        font-size: 4rem;
        border-radius: 0;
    }

    .contact-wrapped a i {
        font-size: 3rem;
    }

    .social-content-cv a {
        padding: 0 2px 0 0;
    }

    .social-content a {
        padding: 0 2px 0 0;
    }
}

@media (max-width: 300px) {

    /* home page */
    .gallery-header {
        font-size: 1.25rem;
    }
    
    .recent-image-gallery {
        column-count: 1;
    }
}

/* End of Responsiveness */