@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/* generic */
a {
    text-decoration: none;
    transition: all .5s;
}

.hover {
    color: #18272F;
    position: relative;
    text-decoration: none;
}
  
.hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 0;
  background-color: #D5D5D5;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.hover:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.extra-margin {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hover-white {
    transition: all .5s;
}

.d-none {
    display: none !important;
}

.row {
    display: flex;
    flex-direction: row;
    --bs-gutter-x: 0;    
}

.active {
    color: #fff !important;
}

.active-btn {
    color: #000 !important;
    background: #D5D5D5 !important;
}

.hover-white:hover {
    color: #fff;
}

.off-white {
    color: #D5D5D5;
}

.black {
    color: #000;
}

.black:hover {
    color: #000;
}

.white {
    color: #fff;
}

.white:hover {
    color: #fff;
}

.grey-text {
    color: #909090;
}

.get-in-touch {
    color: #fff;
    background: #000;
    border-radius: 5px;
    padding: 15px;
}

.get-in-touch:hover {
    background: #000;
    color: #fff;
}

.get-in-touch-white {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px;
    width: fit-content;
}

.get-in-touch-white:hover {
    background: #fff;
    color: #000;
}

.txt-left {
    text-align: left;
    margin-bottom: 3rem;
}

.text-left {
    text-align: left;
}

.align-end {
    align-items: end !important;
}



/* nav */

.navbar {
    background: #000;
    padding: 20px 70px;
    border-bottom: none;
}

.nav-item a {
    color: #acacac;
    transition: all .5s;
}

.nav-item a:hover {
    color: #fff;
}

.navbar-brand {
    width: 5%;
}

.navbar-brand img {
    max-width: 100%;
}

.navbar-toggler-icon {
    color: #D5D5D5;
}

.nav-btn {
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    background: #000;
    color: #D5D5D5;
    transition: all .5s;
}

.nav-btn:hover {
    background: #D5D5D5;
    color: #000 !important;
}

/* landing screen */
.black-bg {
    background: #000 !important;
}

.container-top {
    padding-top: 40px;
}

.its-me {
    width: 100%;
}

.main-header {
    font-weight: 300;
    font-size: 75px;
}

.circle-btn {
    border: 1px solid #D5D5D5;
    background: #2E2E2E;
    padding: 7px 10px;
    border-radius: 50px;
    color: #fff;
    margin-right: 5px;
    transition: all .5s;
}

.circle-btn:hover {
    font-size: 20px;
}

.circle-btn-down {
    border: 1px solid #D5D5D5;
    background: #2E2E2E;
    padding: 6px 12px;
    border-radius: 50px;
    color: #fff;
    margin-right: 5px;
    transition: all .5s;
}

.circle-btn-down:hover {
    font-size: 20px;
}

.circle-btn-sdown {
    border: 1px solid #D5D5D5;
    background: #2E2E2E;
    padding: 6px 10px;
    border-radius: 50px;
    color: #fff;
    margin-right: 5px;
    transition: all .5s;
}

.circle-btn-sdown:hover {
    font-size: 20px;
}

.circle-btn-black {
    background: #000;
    padding: 7px 10px;
    border-radius: 50px;
    color: #fff;
    margin-right: 5px;
    transition: all .5s;
}

.circle-btn-black:hover {
    font-size: 20px;
}

.rotate i {
    rotate: 135deg;
}


.sm-text {
    font-size: 12px;
}

.service-list {
    margin-left: 3rem;
}

.services {
    margin-right: 3rem;
}

.services .sm-para {
    color: #8F9294;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}

.services h2 {
    font-weight: 300;
    font-size: 40px;
}

/* accordion */
.accordion-title {
    padding-left: 30px !important;
}

.accordion-button {
    font-size: 20px;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: none !important;
}

.accordion-body {
    padding-left: 60px !important;
}

/* selected work */
.title-wrapped {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title-wrapped h3 {
    font-weight: 300;
    font-size: 40px;
}

.project-image img{
    width: 100%;
    border-radius: 10px;
}


/* .animations-project-image {
    height: 80vh;
    animation: change-background 3s infinite linear;
    background: #707070;
    width: 100%;
    position: relative;
    border-radius: 15px;
    margin-top: 30px;
} */

/* candle animation */
/* .candle-wrapper {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: scale(1.5, 1.5) translate(-50%, -50%);
}

.floor {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 350px;
  height: 5px;
  background: #707070;
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px #111;
  z-index: 2;
}

.candles {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 250px;
  height: 150px;
  transform: translate(-50%, -100%);
  z-index: 1;
}

.candle1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 35px;
  height: 100px;
  background: #fff;
  border: 3px solid #707070;
  border-bottom: 0px;
  border-radius: 3px;
  transform-origin: center right;
  transform: translate(60%, -25%);
  box-shadow: -2px 0px 0px rgb(81, 81, 81) inset;
  animation: expand-body 3s infinite linear;
}

.candle1__stick, .candle2__stick {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 3px;
  height: 15px;
  background: #707070;
  border-radius: 8px;
  transform: translate(-50%, -100%);
}

.candle2__stick {
  height: 12px;
  transform-origin: bottom center;
  animation: stick-animation 3s infinite linear;
}

.candle1__eyes, .candle2__eyes {
  position: absolute;
  left: 50%;
  top: 0%;
  width: 35px;
  height: 30px;
  transform: translate(-50%, 0%);
}

.candle1__eyes-one {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #707070;
  transform: translate(-70%, 0%);
  animation: blink-eyes 3s infinite linear;
}

.candle1__eyes-two {
  position: absolute;
  left: 70%;
  top: 20%;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #707070;
  transform: translate(-70%, 0%);
  animation: blink-eyes 3s infinite linear;
}

.candle1__mouth {
  position: absolute;
  left: 40%;
  top: 20%;
  width: 0px;
  height: 0px;
  border-radius: 20px;
  background: #707070;
  transform: translate(-50%, -50%);
  animation: uff 3s infinite linear;
}

.candle__smoke-one {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 30px;
  height: 3px;
  background: grey;
  transform: translate(-50%, -50%);
  animation: move-left 3s infinite linear;
}

.candle__smoke-two {
  position: absolute;
  left: 30%;
  top: 40%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: grey;
  transform: translate(-50%, -50%);
  animation: move-top 3s infinite linear;
}

.candle2 {
  position: absolute;
  left: 20%;
  top: 65%;
  width: 42px;
  height: 60px;
  background: #fff;
  border: 3px solid #707070;
  border-bottom: 0px;
  border-radius: 3px;
  transform: translate(60%, -15%);
  transform-origin: center right;
  box-shadow: -2px 0px 0px #95c6f2 inset;
  animation: shake-left 3s infinite linear;
}

.candle2__eyes-one {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #707070;
  border-radius: 100%;
  float: left;
  background: #707070;
  transform: translate(-80%, 0%);
  animation: changeto-lower 3s infinite linear;
}

.candle2__eyes-two {
  position: absolute;
  left: 70%;
  top: 50%;
  width: 5px;
  height: 5px;
  display: inline-block;
  border: 0px solid #707070;
  border-radius: 100%;
  float: left;
  background: #707070;
  transform: translate(-80%, 0%);
  animation: changeto-greater 3s infinite linear;
}

.light__wave {
  position: absolute;
  top: 35%;
  left: 35%;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  z-index: 0;
  transform: translate(-25%, -50%) scale(2.5, 2.5);
  border: 2px solid rgba(255, 255, 255, 0.2);
  animation: expand-light 3s infinite linear;
}

.candle2__fire {
  position: absolute;
  top: 50%;
  left: 40%;
  display: block;
  width: 16px;
  height: 20px;
  background-color: red;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  background: #FF9800;
  transform: translate(-50%, -50%);
  animation: dance-fire 3s infinite linear;
}

@keyframes blink-eyes {
  0%,35% {
    opacity: 1;
    transform: translate(-70%, 0%);
  }
  36%,39% {
    opacity: 0;
    transform: translate(-70%, 0%);
  }
  40% {
    opacity: 1;
    transform: translate(-70%, 0%);
  }
  50%,65% {
    transform: translate(-140%, 0%);
  }
  66% {
    transform: translate(-70%, 0%);
  }
}
@keyframes expand-body {
  0%,40% {
    transform: scale(1, 1) translate(60%, -25%);
  }
  45%,55% {
    transform: scale(1.1, 1.1) translate(60%, -28%);
  }
  60% {
    transform: scale(0.89, 0.89) translate(60%, -25%);
  }
  65% {
    transform: scale(1, 1) translate(60%, -25%);
  }
  70% {
    transform: scale(0.95, 0.95) translate(60%, -25%);
  }
  75% {
    transform: scale(1, 1) translate(60%, -25%);
  }
}
@keyframes uff {
  0%,40% {
    width: 0px;
    height: 0px;
  }
  50%,54% {
    width: 15px;
    height: 15px;
    left: 30%;
  }
  59% {
    width: 5px;
    height: 5px;
    left: 20%;
  }
  62% {
    width: 2px;
    height: 2px;
    left: 20%;
  }
  67% {
    width: 0px;
    height: 0px;
    left: 30%;
  }
}
@keyframes change-background {
  0%,59%,98%,100% {
    background: #FFF;
  }
  61%,97% {
    background: #000;
  }
}
@keyframes move-left {
  0%,59%,100% {
    width: 0px;
    left: 40%;
  }
  60% {
    width: 30px;
    left: 30%;
  }
  68% {
    width: 0px;
    left: 20%;
  }
}
@keyframes move-top {
  0%,64%,100% {
    width: 0px;
    height: 0px;
    top: 0%;
  }
  65% {
    width: 10px;
    height: 10px;
    top: 40%;
    left: 40%;
  }
  80% {
    width: 0px;
    height: 0px;
    top: 20%;
  }
}
@keyframes shake-left {
  0%,40% {
    left: 20%;
    transform: translate(60%, -15%);
  }
  50%,54% {
    left: 20%;
    transform: translate(60%, -15%);
  }
  59% {
    left: 20%;
    transform: translate(60%, -15%);
  }
  62% {
    left: 18%;
    transform: translate(60%, -15%);
  }
  65% {
    left: 21%;
    transform: translate(60%, -15%);
  }
  67% {
    left: 20%;
    transform: translate(60%, -15%);
  }
  75% {
    left: 20%;
    transform: scale(1.15, 0.85) translate(60%, -15%);
    background: #fff;
    border-color: #707070;
  }
  91% {
    left: 20%;
    transform: scale(1.18, 0.82) translate(60%, -10%);
    background: #F44336;
    border-color: #F44336;
    box-shadow: -2px 0px 0px #F44336 inset;
  }
  92% {
    left: 20%;
    transform: scale(0.85, 1.15) translate(60%, -15%);
  }
  95% {
    left: 20%;
    transform: scale(1.05, 0.95) translate(60%, -15%);
  }
  97% {
    left: 20%;
    transform: scale(1, 1) translate(60%, -15%);
  }
}
@keyframes stick-animation {
  0%,40% {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -100%);
  }
  50%,54% {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -100%);
  }
  59% {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -100%);
  }
  62% {
    left: 50%;
    top: 0%;
    transform: rotateZ(-15deg) translate(-50%, -100%);
  }
  65% {
    left: 50%;
    top: 0%;
    transform: rotateZ(15deg) translate(-50%, -100%);
  }
  70% {
    left: 50%;
    top: 0%;
    transform: rotateZ(-5deg) translate(-50%, -100%);
  }
  72% {
    left: 50%;
    top: 0%;
    transform: rotateZ(5deg) translate(-50%, -100%);
  }
  74%,84% {
    left: 50%;
    top: 0%;
    transform: rotateZ(0deg) translate(-50%, -100%);
  }
  85% {
    transform: rotateZ(180deg) translate(0%, 120%);
  }
  92% {
    left: 50%;
    top: 0%;
    transform: translate(-50%, -100%);
  }
}
@keyframes expand-light {
  10%,29%,59%,89% {
    transform: translate(-25%, -50%) scale(0, 0);
    border: 2px solid rgba(255, 255, 255, 0);
  }
  90%,20%,50% {
    transform: translate(-25%, -50%) scale(1, 1);
  }
  95%,96%,26%,27%,56%,57% {
    transform: translate(-25%, -50%) scale(2, 2);
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
  0%,28%,58%,100% {
    transform: translate(-25%, -50%) scale(2.5, 2.5);
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
}
@keyframes dance-fire {
  59%,89% {
    left: 40%;
    width: 0px;
    height: 0px;
  }
  90%,0%,7%,15%,23%,31%,39%,47%,55% {
    left: 40.8%;
    width: 16px;
    height: 20px;
    background: #FFC107;
  }
  94%,3%,11%,19%,27%,35%,43%,51%,58% {
    left: 41.2%;
    width: 16px;
    height: 20px;
    background: #FF9800;
  }
}
@keyframes changeto-lower {
  0%,70%,90% {
    padding: 0px;
    display: inline-block;
    border-radius: 100%;
    background: #707070;
    border-width: 0 0 0 0;
    border: 0px solid #707070;
    transform: translate(-90%, 0%);
  }
  71%,89% {
    background: none;
    border: solid #707070;
    border-radius: 0px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 1px;
    float: left;
    transform-origin: bottom left;
    transform: rotate(-45deg) translate(-50%, -65%);
    -webkit-transform: rotate(-45deg) translate(-50%, -65%);
  }
}
@keyframes changeto-greater {
  0%,70%,90% {
    top: 50%;
    padding: 0px;
    display: inline-block;
    border-radius: 100%;
    background: #707070;
    border-width: 0 0 0 0;
    border: 0px solid #707070;
    transform: translate(-80%, 0%);
  }
  71%,89% {
    top: 30%;
    background: none;
    border: solid #707070;
    border-radius: 0px;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 1px;
    float: left;
    transform-origin: bottom left;
    transform: rotate(135deg) translate(-80%, 20%);
    -webkit-transform: rotate(135deg) translate(-80%, 20%);
  }
} */


/* delete this when images are in */
.bg-grey {
    background: #707070;
    width: 100%;
    position: relative;
    border-radius: 15px;
    margin-top: 30px;
}

.img-overlay {
   background: #2E2E2E; 
   width: 40%;
   padding: 25px;
   border-radius: 15px;
   position: absolute;
   bottom: 30px;
   left: 30px;
   border: 1px solid #D5D5D5;
}

.img-overlay h4 {
    color: #fff;
}

.services-wrapped {
    bottom: 30px;
    right: 30px;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.services-overlay {
    background: #2E2E2E; 
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #D5D5D5;
    cursor: pointer; 
    margin-right: 10px;
}


/* about me */

.about-me {
    background: #000;
    padding: 20px 40px;
    border-radius: 15px;
}

.about-me img {
    width: 75%;
}

.me-width {
    width: 40%;
    position: relative;
}


.about-me-width {
    width: 55%;
    margin: auto;
}

.about-me-width h3{
    font-size: 40px;
    font-weight: 300;
}

.about-me-overlay {
    background: #2E2E2E; 
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #D5D5D5;
    cursor: pointer; 
    margin-right: 10px;
    position: absolute;
    bottom: 20px;
    left: 0;
    opacity: 1;
}

.social-media {
    position: absolute;
    top: 20px;
    left: 0;
    display: flex;
    flex-direction: row;
}

/* footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
}

.footer-wrapped {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    padding: 7rem 0;
}

.footer-wrapped small {
    margin-bottom: 0;
}

.footer-wrapped h6 {
    font-weight: 500;
    font-size: 6rem;
    margin-bottom: 2rem;
}

.footer-wrapped a {
    width: 20%;
    margin: 0 auto;
    padding: 10px;
}

.footer-wrapped p {
    font-size: 20px;
    font-weight: 400;
}

/* services page */
.main-wrapped {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
    padding: 1rem 0;
}

.main-wrapped small {
    margin-bottom: 0;
}

.main-wrapped h6 {
    font-weight: 500;
    font-size: 6rem;
    margin-bottom: 2rem;
}

.main-wrapped a {
    width: 20%;
    margin: 0 auto;
    padding: 10px;
}

.main-wrapped p {
    font-size: 20px;
    font-weight: 400;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-pad {
    padding-bottom: 40px;
}

/* work page */
.text-wrapped {
    width: 50%;
}

.text-wrapped h1 {
    font-size: 5rem;
}

/* work details */
.work-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.details {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project-images {
    margin: 0 auto;
}

/* about me */
.circle-overlay {
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: #000;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 1rem auto;
}

.circle-overlay img {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#vision {
    font-size: 5rem;
}

.how-i-work {
    border: 1px solid #D5D5D5;
    border-radius: 25px;
    padding: 80px 40px;
}

.how-i-work h4 {
    font-size: 3rem;
}

.how-i-work-wrapped {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
}

.how-i-work-wrapped .number {
    margin-right: 1rem;
}

.how-i-work-wrapped h5 {
    font-weight: 300;
    font-size: 30px;
}

.about-me-wrapped {
    background: #000;
    border-radius: 10px;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
}

.about-me-wrapped img {
    width: 60%;
}

.about-me-img {
    max-width: 100%;
}

.image-about {
    display: flex;
    justify-content: flex-end;
}

.align-center {
    justify-content: center;
}

.social-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.name {
    font-size: 35px;
    letter-spacing: 1px;
}

.name-socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about-me-wrapped h3 {
    font-size: 35px;
}

.about-me-wrapped p {
    font-weight: 400;
}

.getintouch {
    width: 100%;
}

.getintouch img{
    width: 100%;
}

.contact-me small {
    font-size: 15px;
}

.lgit-title {
    font-size: 70px;
    width: 60%;
    padding-bottom: 20px;
}

.lgit-sub-title {
    padding-bottom: 30px;
}

.cv-link {
    color: #909090;
    transition: all .5s;
}

.cv-link:hover {
    color: #fff;
}

.new-site {
    padding-top: 6rem;
    text-align: center;
    text-transform: uppercase;
}

/* truck animation */
.loop-wrapper {
    margin: 0 auto;
    position: relative;
    display: block;
    width: 600px;
    height: 200px;
    overflow: hidden;
    border-bottom: 3px solid #fff;
    color: #fff;
}
.mountain {
    position: absolute;
    right: -900px;
    bottom: -20px;
    width: 2px;
    height: 2px;
    box-shadow: 
      0 0 0 50px #414141,
      60px 50px 0 70px #414141,
      90px 90px 0 50px #414141,
      250px 250px 0 50px #414141,
      290px 320px 0 50px #414141,
      320px 400px 0 50px #414141
      ;
    transform: rotate(130deg);
    animation: mtn 20s linear infinite;
}
.hill {
  position: absolute;
  right: -900px;
  bottom: -50px;
  width: 400px;
  border-radius: 50%;
  height: 20px;
  box-shadow: 
    0 0 0 50px #313131,
    -20px 0 0 20px #313131,
    -90px 0 0 50px #313131,
    250px 0 0 50px #313131,
    290px 0 0 50px #313131,
    620px 0 0 50px #313131;
  animation: hill 4s 2s linear infinite;
}
.tree, .tree:nth-child(2), .tree:nth-child(3) {
  position: absolute;
  height: 100px; 
  width: 35px;
  bottom: 0;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/tree.svg) no-repeat;
}
.rock {
  margin-top: -17%;
  height: 2%; 
  width: 2%;
  bottom: -2px;
  border-radius: 20px;
  position: absolute;
  background: #ddd;
}
.truck, .wheels {
  transition: all ease;
  width: 85px;
  margin-right: -60px;
  bottom: 0px;
  right: 50%;
  position: absolute;
  background: #eee;
}
.truck {
  background: url(../images/new-images/truck.png) no-repeat;
  background-size: contain;
  height: 60px;
}
.truck:before {
  content: " ";
  position: absolute;
  width: 25px;
  box-shadow:
    -30px 28px 0 1.5px #fff,
     -35px 18px 0 1.5px #fff;
}
.wheels {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/130015/wheels.svg) no-repeat;
  height: 15px;
  margin-bottom: 0;
}

.tree  { animation: tree 3s 0.000s linear infinite; }
.tree:nth-child(2)  { animation: tree2 2s 0.150s linear infinite; }
.tree:nth-child(3)  { animation: tree3 8s 0.050s linear infinite; }
.rock  { animation: rock 4s   -0.530s linear infinite; }
.truck  { animation: truck 4s   0.080s ease infinite; }
.wheels  { animation: truck 4s   0.001s ease infinite; }
.truck:before { animation: wind 1.5s   0.000s ease infinite; }


@keyframes tree {
  0%   { transform: translate(1350px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree2 {
  0%   { transform: translate(650px); }
  50% {}
  100% { transform: translate(-50px); }
}
@keyframes tree3 {
  0%   { transform: translate(2750px); }
  50% {}
  100% { transform: translate(-50px); }
}

@keyframes rock {
  0%   { right: -200px; }
  100% { right: 2000px; }
}
@keyframes truck {
  0%   { }
  6%   { transform: translateY(0px); }
  7%   { transform: translateY(-6px); }
  9%   { transform: translateY(0px); }
  10%   { transform: translateY(-1px); }
  11%   { transform: translateY(0px); }
  100%   { }
}
@keyframes wind {
  0%   {  }
  50%   { transform: translateY(3px) }
  100%   { }
}
@keyframes mtn {
  100% {
    transform: translateX(-2000px) rotate(130deg);
  }
}
@keyframes hill {
  100% {
    transform: translateX(-2000px);
  }
}


/* work page */
.ipad-wrapped {
    max-width: 100%;
    margin-top: 3rem;
}

.ipad-wrapped img {
    width: 100%;
}
/* responsiveness */

@media (max-width: 991px) {
    .nav {
        flex-direction: column;
    }

    .nav-item {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #707070;
    }

    .nav-btn {
        border: none;
    }

    .main-header {
        font-size: 50px;
    }

    .service-list {
        margin-left: 0;
    }

    .about-me img {
        width: 90%;
        position: absolute;
        bottom: 90px;
    }

    .about-me {
        padding: 40px;
    }

    .lgit-title {
        width: 100%;
    }

    .loop-wrapper {
        width: 100%;
    }

    .new-site {
        padding-top: 4rem;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        width: 7%;
    }

    .accordion-button {
        font-size: 15px;
    }

    .footer-wrapped h6 {
        font-size: 4rem;
    }

    .footer-wrapped a {
        width: 35%;
    }

    .main-wrapped h6 {
        font-size: 4rem;
    }

    .main-wrapped a {
        width: 35%;
    }

    .navbar {
        padding: 20px 40px;
    }

    .text-wrapped {
        width: 60%;
    }

    .text-wrapped h4 {
        font-size: 18px;
    }

    .lgit-title {
        font-size: 35px;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        width: 10%;
    }

    .row {
        flex-direction: column;
    }

    .main-header {
        text-align: center;
    }

    .container-top {
        text-align: center;
    }

    .its-me {
        padding-top: 20px;
        width: 60%;
    }

    .services p {
        text-align: left;
    }

    .services h2 {
        text-align: left;
    }

    .accordion-body {
        text-align: left;
    }

    .extra-margin {
        margin-top: 0;
        margin-bottom: 0;
    }

    .services {
        margin-right: 0;
    }

    /* selected work */
    .selected-work {
        display: none;
    }

    .services-wrapped {
        display: none;
    }

    .img-overlay {
        width: 30%;
        padding: 15px;
    }

    .img-overlay h4 {
        margin-bottom: 0;
    }

    .img-overlay p {
        display: none;
    }

    .img-overlay .button-btm-wrapped {
        display: none;
    }

    .process {
        margin-bottom: 2rem;
        text-align: left;
    }

    .me-width {
        width: 100%;
    }

    .about-me img {
        width: 75%;
        position: static;
        padding-right: 40px;
    }

    .about-me-width {
        width: 100%;
        margin-top: 30px;
    }

    .about-me-overlay {
        opacity: 0;
    }

    .social-media {
        position: static;
        justify-content: center;
    }

    .footer-wrapped h6 {
        font-size: 3rem;
    }

    .footer-wrapped a {
        width: 40%;
    }

    .main-wrapped h6 {
        font-size: 3rem;
    }

    .main-wrapped a {
        width: 40%;
    }

    .navbar {
        background: #000;
        padding: 20px 50px;
    }   

    .title-wrapped {
        flex-direction: column;
        justify-content: space-between;
        align-items: center !important;
    }

    .text-wrapped {
        width: 80%;
        margin-bottom: 2rem;
    }

    .work-details {
      display: grid;
      grid-template-columns: auto;
      grid-row-gap: 20px;
    }

    .project-images {
        margin-bottom: 2rem !important;
    }

    #vision {
        font-size: 3rem;
    }

    .how-i-work h4 {
        font-size: 2rem;
    }

    .how-i-work {
        text-align: left !important;
    }

    .how-i-work-wrapped {
        flex-direction: column;
    }

    .how-i-work-wrapped h5 {
        font-size: 25px;
    }

    .image-about {
        justify-content: center;
    }

    .name-socials {
        margin-bottom: 0;
    }

    .about-me-wrapped {
        text-align: left !important;
    }

    .about-me-wrapped h3 {
        margin-bottom: 2rem;
    }

    .about-me-wrapped img {
        width: 100%;
    }

    .social-row {
        justify-content: center;
        margin-bottom: 50px;
    }

    .lgit-title {
        text-align: center;
        font-size: 50px;
    }

    .contact-me {
        margin-bottom: 5rem;
    }

    .new-site {
        padding-top: 5rem;
    }

    .truck:before {
        box-shadow: -80px 28px 0 1.5px #fff, -85px 18px 0 1.5px #fff;
    }

    .img-overlay {
        border-radius: 5px;
        bottom: 10px;
        left: 10px;
        width: auto;
        padding: 10px;
    }

}

@media (max-width: 420px) {
    .col {
        width: 90%;
        margin: 0 auto;
    }

    .navbar-brand {
        width: 15%;
    }

    .process {
        margin-bottom: 5rem;
    }

    .about-me img {
        padding-right: 25px;
    }

    .footer-wrapped h6 {
        font-size: 2.5rem;
    }

    .footer-wrapped a {
        width: 60%;
    }

    .navbar {
        background: #000;
        padding: 20px;
    }    

    .lgit-title {
        font-size: 40px;
    }

    .new-site {
        padding-top: 4.5rem;
    }
}